
@media only screen and (min-width: 768px) {
    
    .header{
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo information"
            ;    
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 300px;
    }

    .header .information{
        grid-area: information;
        align-items: flex-start;
    }

    .main {
        max-width: 1024px;
        margin: 1rem auto; 
    }

}
